apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headscale
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: apps
  source:
    path: manifests/apps/talos/headscale
    repoURL: https://github.com/TheBigLee/talos.git
    targetRevision: HEAD
  destination:
    namespace: headscale
    server: https://kubernetes.default.svc
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
