apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: apps
  sources:
    - chart: valkey
      repoURL: https://valkey.io/valkey-helm/
      targetRevision: 0.8.1
      helm:
        values: |
          auth:
            enabled: true
            usersExistingSecret: nextcloud-valkey-user
            aclUsers:
              default:
                permissions: "~* &* +@all" # admin permissions
                passwordKey: "redis-password"
    - chart: nextcloud
      repoURL: https://nextcloud.github.io/helm/
      targetRevision: 8.7.0
      helm:
        values: |
          image:
            tag: 32.0.3-fpm
          nginx:
            enabled: true
          nextcloud:
            host: nextcloud.bigli.io
            configs:
              bigli-nextcloud.config.php: |
                <?php
                  $CONFIG = [
                    'trusted_proxies' => ['10.43.0.0/16', '10.42.0.0/16'],
                    'maintenance_window_start' => 1,
                    'csrf.optout' => [
                      '/Nextcloud-android/', // DAVx
                    ],
                    'overwrite.cli.url' => 'https://nextcloud.bigli.io',
                    'overwriteprotocol' => 'https',
                    'overwritehost' => 'nextcloud.bigli.io',
                  ];
            extraEnv:
              - name: "PHP_OPCACHE_MEMORY_CONSUMPTION"
                value: "256"
              - name: "PHP_MEMORY_LIMIT"
                value: "1024M"
            existingSecret:
              enabled: true
              secretName: nextcloud-creds
              usernameKey: username
              passwordKey: password
            extraVolumes:
              - name: cron-config
                configMap:
                  name: cron-config
            extraVolumeMounts:
              - name: cron-config
                mountPath: /var/spool/cron/crontabs/
          resources:
            limits:
              memory: 3Gi
              cpu: 4
            requests:
              memory: 500Mi
              cpu: 500m
          ingress:
            enabled: false
          internalDatabase:
            enabled: false
          cronjob:
            enabled: true
          externalDatabase:
            type: postgresql
            host: psql-pooler.postgresql.svc.cluster.local
            existingSecret:
              enabled: true
              secretName: nextcloud-postgres-user
              usernameKey: username
              passwordKey: password
          externalRedis:
            enabled: true
            host: nextcloud-valkey 
            existingSecret:
              enabled: true
              secretName: nextcloud-valkey-user
              passwordKey: redis-password 

          persistence:
            enabled: true
            size: 20Gi
          startupProbe:
            enabled: true
          metrics:
            enabled: false
            info:
              apps: true
            serviceMonitor:
              enabled: true
    - path: manifests/apps/talos/nextcloud
      repoURL: https://github.com/TheBigLee/talos.git
      targetRevision: HEAD
  destination:
    namespace: nextcloud
    server: https://kubernetes.default.svc
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
