apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: paperless-ngx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: apps
  sources:
    - chart: valkey
      repoURL: https://valkey.io/valkey-helm/
      targetRevision: 0.9.2
      helm:
        values: |
          auth:
            enabled: false
    - path: manifests/apps/talos/paperless-ngx
      repoURL: https://github.com/TheBigLee/talos.git
      targetRevision: HEAD
  destination:
    namespace: paperless-ngx
    server: https://kubernetes.default.svc
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true