apiVersion: k8up.io/v1
kind: Schedule
metadata:
  name: paperless-ngx-backup
  namespace: paperless-ngx
spec:
  backend:
    s3:
      bucket: talos-k8up-backup
      endpoint: https://s3.eu-central-1.wasabisys.com
    existingSecret:
      name: backup-credentials
  backup:
    schedule: "0 1 * * *"
    keepJobs: 4
  check:
    schedule: "0 2 * * 0"
    keepJobs: 2
  prune:
    schedule: "0 3 1 * *"
    retention:
      keepLast: 5
      keepDaily: 14
      keepWeekly: 8
      keepMonthly: 6
    keepJobs: 2