apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: paperless-ngx-postgres
  namespace: paperless-ngx
spec:
  instances: 1
  primaryUpdateStrategy: unsupervised
  bootstrap:
    initdb:
      database: paperless
      owner: paperless
      secret:
        name: paperless-ngx-postgres-user
  storage:
    size: 10Gi
    storageClass: hcloud-volumes