# This job will get the etcd cert from talos and make it available to victoriametrics
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secrets-writer
  annotations:
    argocd.argoproj.io/hook: PreSync # make sure this happens early
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: secrets-writer
  annotations:
    argocd.argoproj.io/hook: PreSync # make sure this happens early
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: secrets-writer
  annotations:
    argocd.argoproj.io/hook: PreSync # make sure this happens early
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: secrets-writer
subjects:
  - kind: ServiceAccount
    name: secrets-writer
---
apiVersion: batch/v1
kind: Job
metadata:
  name: etcd-secret-writer
  annotations:
    argocd.argoproj.io/sync-wave: "-1" # happen first
spec:
  template:
    spec:
      automountServiceAccountToken: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: Exists
      containers:
        - image: docker.io/bitnamilegacy/kubectl:1.33.4-debian-12-r0
          command: ["/bin/sh"]
          args:
            - "-c"
            - >-
              kubectl create secret generic etcd-secrets --save-config
              --dry-run=client --from-file=/system/secrets/etcd/ca.crt
              --from-file=/system/secrets/etcd/server.crt
              --from-file=/system/secrets/etcd/server.key -o yaml | kubectl apply -f
              -
          imagePullPolicy: IfNotPresent
          name: kubectl
          volumeMounts:
            - mountPath: /system/secrets/etcd
              name: k8setcdcert
            - mountPath: /tmp
              name: tmp
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 60 # this is matches the etcd user in the cluster
            seLinuxOptions: {}
            seccompProfile:
              type: RuntimeDefault
      volumes:
        - name: tmp
          emptyDir: {}
        - hostPath:
            path: /system/secrets/etcd
          name: k8setcdcert
      restartPolicy: Never
      serviceAccount: secrets-writer
      serviceAccountName: secrets-writer
  backoffLimit: 3

