---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nextcloud-route
spec:
  parentRefs:
  - name: traefik-gateway
    namespace: traefik-system
  hostnames:
  - "nextcloud.bigli.io"
  rules:
  - backendRefs:
    - name: nextcloud
      port: 8080
